ws/pages/lieutar.github.io/src/pages/xml/xmlns/draft.rng

<?xml version="1.0"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <start><ref name="Sec" /></start>

  <define name="Draft-able">
    <zeroOrMore>
      <choice>
        <element name="d">
          <optional><attribute name="lang" /></optional>
          <zeroOrMore>
            <choice>
              <element name="d">
                <attribute name="lang" />
                <text/>
              </element>
              <text/>
            </choice>
          </zeroOrMore>
        </element>
        <text/>
      </choice>
    </zeroOrMore>
  </define>
  
  <define name="Sec">
    <element name="sec">
      <optional>
        <attribute name="lang"/>
      </optional>
      <element name="title" />
    </element>
  </define>

</grammar>
